apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: jumpserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jumpserver
  template:
    metadata:
      labels:
        app: jumpserver
    spec:
      containers:
      - name: nginx
        image: jumpserver:1.0
        ports:
        - containerPort: 80
          name: app
          protocol: TCP
      #     volumeMounts:
      #       - name: config
      #         mountPath: /etc/nginx/
      #         subpat: nginx.conf
      # volumes:
      #   - name: config
      #     configMap:
      #       name: nginxconf
      #       items:
      #         - key: nginx.conf
      #           path: nginx.conf
